{% import "macros/links.twig" as links %}
<!doctype html>
<html>
<head>
  {% include 'partial/head.twig' %}
</head>
<body>
  <div class="layout">

    <div class="header">
      <div class="header-text">
        <p>Архитектурное освещение фасадов зданий</p>
      </div>
      <div class="header-text text-right">
        <p>ООО “ГЕТЛЮКС” РОССИЯ, МОСКВА, ЗЕЛЕНОГРАД</p>
      </div>
    </div>

    <div class="top">
      <div class="logo">
        <a href="/"><img src="/images/logo.png" alt=""/></a>
      </div>
      <div class="headers">
        <p>ПРИНОСИМ ИЗВИНЕНИЯ, САйт находится на реконструкции.
          расчетная дата начала работы портала - 1.06.2015
        </p>
      </div>
      <div class="contacts text-right">
        <ul>
          <li><sup>+7(495)</sup>233-26-22</li>
          <li><sup>+7(499)</sup>734-96-36</li>
        </ul>
      </div>
    </div>

    <div class="banner">
      <img src="/images/banner.png" alt=""/>
    </div>


    <div class="content">
      <h1>Светодиодные светильники для наружного архитектурного освещения</h1>
      <p>
        <strong>
          Мы разрабатываем и производим инструменты для создания ночного облика улиц, парков, частных усадеб и резиденций.Наша продукция отвечает высоким требованиям качества и ресурса.
        </strong>
      </p>
      <p class="gray">Основа нашего каталога это линейные светильники и прожекторы для локального освещения фасадов зданий и памятных сооружений. Помимо светотехнической продукции, мы предлагаем электронные устройства для управления, подключения и эксплуатации объектов.</p>
    </div>

    <div class="info">
      <div class="catalog">
        <a download href="/getlux.pdf"><img src="/images/cat.png" alt=""/></a>
        <a download href="/getlux.pdf">СКАЧАТЬ PDF 4Мб</a>
        <span>КАТАЛОГ 2015</span>
        <p class="gray">Светодиодное оборудование для&nbsp;архитектурно-художественной подсветки</p>
      </div>
      <div class="video">
        <iframe width="670" height="360" src="https://www.youtube.com/embed/ab4osV0uQEk" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>


  </div>
</body>
</html>

