{% import "macros/links.twig" as links %}
<!doctype html>
<html>
<head>
  {% include 'partial/head.twig' %}
</head>
<body>
  <h1 style="text-align: center">Hello from Twig!!! - env({{ global.env }})*</h1>
  {% include 'partial/scripts.twig' %}
</body>
</html>

