$susy: (
  flow: ltr, // lrt | rlt
  output: float, // float | isolate
  math: fluid, // fluid | static (requires column-width)
  column-width: false, // false | value,
  container: 940px, // length or % | auto
  container-position: center, // left | center | right | <length> [*2]
  last-flow: to,
  columns: 12,
  gutters: .25,
  gutter-position: inside, // before | after | split | inside |
  global-box-sizing: content-box, // content | border-box
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);
$susy-media: (
  nano: 'only screen and (max-width : 330px)',
  min: 'only screen and (max-width : 639px)',
  med: 'only screen and (min-width : 640px) and (max-width : 759px)',
  large: 'only screen and (min-width : 760px) and (max-width : 859px)',
  huge: 'only screen and (min-width : 860px) and (max-width : 939px)',
  max: 'only screen and (min-width : 940px)'
);
